.index-name {
  margin-top: 60px;
}

.randomButton {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

#home-header {
  font-size: 100px;
  text-align: center;
}

#play-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}