.index-name {
  margin-top: 70px;
  text-align: center;
}

.randomButton {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.songCardShow {
  margin-top: 150px;
  filter: drop-shadow(3px 6px 4px black)
}

.songRandom {
  display: flex;
  justify-content: center;
  height: 600px;
}

.songShow {
  background-color: #BE8C63;
  height: 100vh;
}

.img-show {
  margin-top: 100px;
  height: 300px;
  width: 400px;
}

.cardImg {
  height: 200px;
}

#home-header {
  font-size: 100px;
  text-align: center;
}

#play-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 30%;
  height: 500px;
}

.logo-pic {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.show-title {
  margin-top: 20px;
  justify-content: center;
}

.show-img {
  display: flex;
  justify-content: center;
}

.text-title {
  margin-top: 90px;
}

.playlist {
 padding-bottom: 30px;
 display: flex;
 justify-content: center;
}

.playlist-background {
  background-color: #BE8C63;
  height: 200vh;
}

.header-background {
  background-color: #BE8C63;
}

.playlist-card {
  margin-top: 50px;
  width: 300px;
}

.playlist-title {
  margin-top: 80px;
  text-align: center;
}



.socials {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}


.about-us {
  padding-top: 60px;
  padding: 50px;
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.page-about {
  background-color: #BE8C63;
  height: 120vh;
}

.about-title {
  margin-top: 55px;
  text-align: center;
  font-size: 60px;
}


.home-page {
  background-color: #BE8C63;
  height: 150vh;
}

.form-page {
  height: 100vh;
  background-color: #BE8C63;
}

.form {
  width: 50%;
  margin: auto;
}

.form-title {
  margin-top: 55px;
}

.logo {
  height: 150px;
  width: 150px;
}

.img-about {
  display: flex;
  justify-content: center;
}

.img-header {
  height: 40px;
  width: 40px;
}
